In [3]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [4]:
ds = pd.read_csv('./titanic.csv')
ds2 = pd.read_csv('./test.csv')

In [5]:
ds2.head(n=10)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S

In [6]:
mean_Age = ds2['Age'].mean()
ds2['Age'] = ds2['Age'].fillna(int(mean_Age))

sex_mapping = {
    'male': 0,
    'female': 1
}

sex = ds2['Sex'].values
quant_sex2 = np.zeros(sex.shape)

for ix in range(quant_sex2.shape[0]):
    quant_sex2[ix] = sex_mapping[sex[ix]]

In [7]:
mean_Age = ds['Age'].mean()
ds['Age'] = ds['Age'].fillna(int(mean_Age))

sex_mapping = {
    'male': 0,
    'female': 1
}

sex = ds['Sex'].values
quant_sex = np.zeros(sex.shape)

for ix in range(quant_sex.shape[0]):
    quant_sex[ix] = sex_mapping[sex[ix]]

In [8]:
print quant_sex.dtype, quant_sex2.dtype

float64 float64

In [9]:
data = np.asarray([ds['Age'], ds['Pclass'], ds['SibSp'], ds['Parch'], ds['Fare'], quant_sex, ds['Survived']]).astype("float").T

test_data = np.asarray([ds2['Age'], ds2['Pclass'], ds2['SibSp'], ds2['Parch'], ds2['Fare'], quant_sex2]).astype("float").T

Y = ds['Survived'].values
cols = ['Age', 'Pclass', 'SibSp', 'Parch', 'Fare', 'Sex', 'Survived']
print data[0]

[ 22.     3.     1.     0.     7.25   0.     0.  ]

In [10]:
def data_split(dataset, col_id, value):
    data_right = []
    data_left = []
    for ix in range(dataset.shape[0]):
        if dataset[ix, col_id] <= value:
            data_left.append(dataset[ix, :])
        else:
            data_right.append(dataset[ix, :])
    return np.asarray(data_right), np.asarray(data_left)

In [11]:
def entropy(dataset, col=-1):
    if dataset.shape[0] == 0:
        return 0
    p = dataset[:, col].mean()
    if p == 1 or p == 0:
        return 0.0
    ent = (-1.0 * p * np.log2(p)) + (-1.0 * (1.0 - p) * np.log2(1.0 - p))
    return ent
    
def information_gain(parent_set, child_1, child_2):
    ent_p = entropy(parent_set)
    ent_c1 = entropy(child_1)
    ent_c2 = entropy(child_2)
    
    f = float(child_1.shape[0])/parent_set.shape[0]
    Ig = ent_p - (f*ent_c1 + (1-f)*ent_c2)
    return Ig

In [12]:
INF = 100000
class DT:
    def __init__(self, depth=0, max_depth=10):
        self.left = None
        self.right = None
        self.col_id = None
        self.value = None
        self.depth = depth
        self.max_depth = max_depth
        self.n_survival = None
        self.n_death = None
    
    def get_best_gain(self, dataset):
        n_cols = 6
        all_gains = []
        self.n_survival = dataset[:, -1].sum()
        self.n_death = dataset.shape[0] - self.n_survival
        for cx in range(n_cols):
            mean_val_cx = dataset[:, cx].mean()
            right, left = data_split(dataset, cx, mean_val_cx)
            total_gain = information_gain(dataset, right, left)
            all_gains.append(total_gain)
        self.col_id = np.asarray(all_gains).argmax()
        self.value = dataset[:, self.col_id].mean()
        data_right, data_left = data_split(dataset, self.col_id, self.value)
        if data_left.shape[0] > 0 and self.depth < self.max_depth:
            self.left = DT(depth=self.depth+1, max_depth=self.max_depth)
            self.left.get_best_gain(data_left)
        if data_right.shape[0] > 0 and self.depth < self.max_depth:
            self.right = DT(depth=self.depth+1, max_depth=self.max_depth)
            self.right.get_best_gain(data_right)
        return

    def predict(self, example):
        exp_val = example[self.col_id]
        if exp_val <= self.value:
            if not self.left == None:
                return self.left.predict(example)
            else:
                return self.decide()
        else:
            if not self.right == None:
                return self.right.predict(example)
            else:
                return self.decide()
    
    def decide(self):
        if self.n_survival >= self.n_death:
            return 1
        else:
            return 0

In [13]:
# dt = DT(max_depth=10)
# dt.get_best_gain(data)

In [14]:
X_train = data[:, :]
y_train = data[:, -1]

X_test = test_data

y_pred = []

dt = DT(max_depth=6)
dt.get_best_gain(X_test)
for yx in range(X_test.shape[0]):
    y_pred.append(int(dt.predict(X_test[yx, :])))

print y_pred
print type(y_pred[0])

[0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0]
<type 'int'>

In [104]:
final_ans = np.zeros((len(y_pred), 2))
final_ans[:,0] = ds2['PassengerId']
final_ans[:,1] = y_pred
print final_ans

[[  8.92000000e+02   0.00000000e+00]
 [  8.93000000e+02   1.00000000e+00]
 [  8.94000000e+02   0.00000000e+00]
 [  8.95000000e+02   0.00000000e+00]
 [  8.96000000e+02   1.00000000e+00]
 [  8.97000000e+02   0.00000000e+00]
 [  8.98000000e+02   1.00000000e+00]
 [  8.99000000e+02   0.00000000e+00]
 [  9.00000000e+02   1.00000000e+00]
 [  9.01000000e+02   0.00000000e+00]
 [  9.02000000e+02   0.00000000e+00]
 [  9.03000000e+02   0.00000000e+00]
 [  9.04000000e+02   1.00000000e+00]
 [  9.05000000e+02   0.00000000e+00]
 [  9.06000000e+02   1.00000000e+00]
 [  9.07000000e+02   1.00000000e+00]
 [  9.08000000e+02   0.00000000e+00]
 [  9.09000000e+02   0.00000000e+00]
 [  9.10000000e+02   1.00000000e+00]
 [  9.11000000e+02   1.00000000e+00]
 [  9.12000000e+02   0.00000000e+00]
 [  9.13000000e+02   0.00000000e+00]
 [  9.14000000e+02   1.00000000e+00]
 [  9.15000000e+02   0.00000000e+00]
 [  9.16000000e+02   1.00000000e+00]
 [  9.17000000e+02   0.00000000e+00]
 [  9.18000000e+02   1.00000000e+00]
 [  9.19000000e+02   0.00000000e+00]
 [  9.20000000e+02   0.00000000e+00]
 [  9.21000000e+02   0.00000000e+00]
 [  9.22000000e+02   0.00000000e+00]
 [  9.23000000e+02   0.00000000e+00]
 [  9.24000000e+02   1.00000000e+00]
 [  9.25000000e+02   1.00000000e+00]
 [  9.26000000e+02   0.00000000e+00]
 [  9.27000000e+02   0.00000000e+00]
 [  9.28000000e+02   1.00000000e+00]
 [  9.29000000e+02   1.00000000e+00]
 [  9.30000000e+02   0.00000000e+00]
 [  9.31000000e+02   0.00000000e+00]
 [  9.32000000e+02   0.00000000e+00]
 [  9.33000000e+02   0.00000000e+00]
 [  9.34000000e+02   0.00000000e+00]
 [  9.35000000e+02   1.00000000e+00]
 [  9.36000000e+02   1.00000000e+00]
 [  9.37000000e+02   0.00000000e+00]
 [  9.38000000e+02   0.00000000e+00]
 [  9.39000000e+02   0.00000000e+00]
 [  9.40000000e+02   1.00000000e+00]
 [  9.41000000e+02   1.00000000e+00]
 [  9.42000000e+02   0.00000000e+00]
 [  9.43000000e+02   0.00000000e+00]
 [  9.44000000e+02   1.00000000e+00]
 [  9.45000000e+02   1.00000000e+00]
 [  9.46000000e+02   0.00000000e+00]
 [  9.47000000e+02   0.00000000e+00]
 [  9.48000000e+02   0.00000000e+00]
 [  9.49000000e+02   0.00000000e+00]
 [  9.50000000e+02   0.00000000e+00]
 [  9.51000000e+02   1.00000000e+00]
 [  9.52000000e+02   0.00000000e+00]
 [  9.53000000e+02   0.00000000e+00]
 [  9.54000000e+02   0.00000000e+00]
 [  9.55000000e+02   1.00000000e+00]
 [  9.56000000e+02   0.00000000e+00]
 [  9.57000000e+02   1.00000000e+00]
 [  9.58000000e+02   1.00000000e+00]
 [  9.59000000e+02   0.00000000e+00]
 [  9.60000000e+02   0.00000000e+00]
 [  9.61000000e+02   1.00000000e+00]
 [  9.62000000e+02   1.00000000e+00]
 [  9.63000000e+02   0.00000000e+00]
 [  9.64000000e+02   1.00000000e+00]
 [  9.65000000e+02   0.00000000e+00]
 [  9.66000000e+02   1.00000000e+00]
 [  9.67000000e+02   0.00000000e+00]
 [  9.68000000e+02   0.00000000e+00]
 [  9.69000000e+02   1.00000000e+00]
 [  9.70000000e+02   0.00000000e+00]
 [  9.71000000e+02   1.00000000e+00]
 [  9.72000000e+02   0.00000000e+00]
 [  9.73000000e+02   0.00000000e+00]
 [  9.74000000e+02   0.00000000e+00]
 [  9.75000000e+02   0.00000000e+00]
 [  9.76000000e+02   0.00000000e+00]
 [  9.77000000e+02   0.00000000e+00]
 [  9.78000000e+02   1.00000000e+00]
 [  9.79000000e+02   1.00000000e+00]
 [  9.80000000e+02   1.00000000e+00]
 [  9.81000000e+02   0.00000000e+00]
 [  9.82000000e+02   1.00000000e+00]
 [  9.83000000e+02   0.00000000e+00]
 [  9.84000000e+02   1.00000000e+00]
 [  9.85000000e+02   0.00000000e+00]
 [  9.86000000e+02   0.00000000e+00]
 [  9.87000000e+02   0.00000000e+00]
 [  9.88000000e+02   1.00000000e+00]
 [  9.89000000e+02   0.00000000e+00]
 [  9.90000000e+02   1.00000000e+00]
 [  9.91000000e+02   0.00000000e+00]
 [  9.92000000e+02   1.00000000e+00]
 [  9.93000000e+02   0.00000000e+00]
 [  9.94000000e+02   0.00000000e+00]
 [  9.95000000e+02   0.00000000e+00]
 [  9.96000000e+02   1.00000000e+00]
 [  9.97000000e+02   0.00000000e+00]
 [  9.98000000e+02   0.00000000e+00]
 [  9.99000000e+02   0.00000000e+00]
 [  1.00000000e+03   0.00000000e+00]
 [  1.00100000e+03   0.00000000e+00]
 [  1.00200000e+03   0.00000000e+00]
 [  1.00300000e+03   1.00000000e+00]
 [  1.00400000e+03   1.00000000e+00]
 [  1.00500000e+03   1.00000000e+00]
 [  1.00600000e+03   1.00000000e+00]
 [  1.00700000e+03   0.00000000e+00]
 [  1.00800000e+03   0.00000000e+00]
 [  1.00900000e+03   1.00000000e+00]
 [  1.01000000e+03   0.00000000e+00]
 [  1.01100000e+03   1.00000000e+00]
 [  1.01200000e+03   1.00000000e+00]
 [  1.01300000e+03   0.00000000e+00]
 [  1.01400000e+03   1.00000000e+00]
 [  1.01500000e+03   0.00000000e+00]
 [  1.01600000e+03   0.00000000e+00]
 [  1.01700000e+03   1.00000000e+00]
 [  1.01800000e+03   0.00000000e+00]
 [  1.01900000e+03   1.00000000e+00]
 [  1.02000000e+03   0.00000000e+00]
 [  1.02100000e+03   0.00000000e+00]
 [  1.02200000e+03   0.00000000e+00]
 [  1.02300000e+03   0.00000000e+00]
 [  1.02400000e+03   1.00000000e+00]
 [  1.02500000e+03   0.00000000e+00]
 [  1.02600000e+03   0.00000000e+00]
 [  1.02700000e+03   0.00000000e+00]
 [  1.02800000e+03   0.00000000e+00]
 [  1.02900000e+03   0.00000000e+00]
 [  1.03000000e+03   1.00000000e+00]
 [  1.03100000e+03   0.00000000e+00]
 [  1.03200000e+03   1.00000000e+00]
 [  1.03300000e+03   1.00000000e+00]
 [  1.03400000e+03   0.00000000e+00]
 [  1.03500000e+03   0.00000000e+00]
 [  1.03600000e+03   0.00000000e+00]
 [  1.03700000e+03   0.00000000e+00]
 [  1.03800000e+03   0.00000000e+00]
 [  1.03900000e+03   0.00000000e+00]
 [  1.04000000e+03   0.00000000e+00]
 [  1.04100000e+03   0.00000000e+00]
 [  1.04200000e+03   1.00000000e+00]
 [  1.04300000e+03   0.00000000e+00]
 [  1.04400000e+03   0.00000000e+00]
 [  1.04500000e+03   1.00000000e+00]
 [  1.04600000e+03   0.00000000e+00]
 [  1.04700000e+03   0.00000000e+00]
 [  1.04800000e+03   1.00000000e+00]
 [  1.04900000e+03   1.00000000e+00]
 [  1.05000000e+03   0.00000000e+00]
 [  1.05100000e+03   1.00000000e+00]
 [  1.05200000e+03   1.00000000e+00]
 [  1.05300000e+03   0.00000000e+00]
 [  1.05400000e+03   1.00000000e+00]
 [  1.05500000e+03   0.00000000e+00]
 [  1.05600000e+03   0.00000000e+00]
 [  1.05700000e+03   1.00000000e+00]
 [  1.05800000e+03   0.00000000e+00]
 [  1.05900000e+03   0.00000000e+00]
 [  1.06000000e+03   1.00000000e+00]
 [  1.06100000e+03   1.00000000e+00]
 [  1.06200000e+03   0.00000000e+00]
 [  1.06300000e+03   0.00000000e+00]
 [  1.06400000e+03   0.00000000e+00]
 [  1.06500000e+03   0.00000000e+00]
 [  1.06600000e+03   0.00000000e+00]
 [  1.06700000e+03   1.00000000e+00]
 [  1.06800000e+03   1.00000000e+00]
 [  1.06900000e+03   0.00000000e+00]
 [  1.07000000e+03   1.00000000e+00]
 [  1.07100000e+03   1.00000000e+00]
 [  1.07200000e+03   0.00000000e+00]
 [  1.07300000e+03   0.00000000e+00]
 [  1.07400000e+03   1.00000000e+00]
 [  1.07500000e+03   0.00000000e+00]
 [  1.07600000e+03   1.00000000e+00]
 [  1.07700000e+03   0.00000000e+00]
 [  1.07800000e+03   1.00000000e+00]
 [  1.07900000e+03   0.00000000e+00]
 [  1.08000000e+03   1.00000000e+00]
 [  1.08100000e+03   0.00000000e+00]
 [  1.08200000e+03   0.00000000e+00]
 [  1.08300000e+03   0.00000000e+00]
 [  1.08400000e+03   0.00000000e+00]
 [  1.08500000e+03   0.00000000e+00]
 [  1.08600000e+03   0.00000000e+00]
 [  1.08700000e+03   0.00000000e+00]
 [  1.08800000e+03   0.00000000e+00]
 [  1.08900000e+03   1.00000000e+00]
 [  1.09000000e+03   0.00000000e+00]
 [  1.09100000e+03   1.00000000e+00]
 [  1.09200000e+03   1.00000000e+00]
 [  1.09300000e+03   0.00000000e+00]
 [  1.09400000e+03   0.00000000e+00]
 [  1.09500000e+03   1.00000000e+00]
 [  1.09600000e+03   0.00000000e+00]
 [  1.09700000e+03   0.00000000e+00]
 [  1.09800000e+03   1.00000000e+00]
 [  1.09900000e+03   0.00000000e+00]
 [  1.10000000e+03   1.00000000e+00]
 [  1.10100000e+03   0.00000000e+00]
 [  1.10200000e+03   0.00000000e+00]
 [  1.10300000e+03   0.00000000e+00]
 [  1.10400000e+03   0.00000000e+00]
 [  1.10500000e+03   1.00000000e+00]
 [  1.10600000e+03   1.00000000e+00]
 [  1.10700000e+03   0.00000000e+00]
 [  1.10800000e+03   1.00000000e+00]
 [  1.10900000e+03   0.00000000e+00]
 [  1.11000000e+03   1.00000000e+00]
 [  1.11100000e+03   0.00000000e+00]
 [  1.11200000e+03   1.00000000e+00]
 [  1.11300000e+03   0.00000000e+00]
 [  1.11400000e+03   1.00000000e+00]
 [  1.11500000e+03   0.00000000e+00]
 [  1.11600000e+03   1.00000000e+00]
 [  1.11700000e+03   1.00000000e+00]
 [  1.11800000e+03   0.00000000e+00]
 [  1.11900000e+03   1.00000000e+00]
 [  1.12000000e+03   0.00000000e+00]
 [  1.12100000e+03   0.00000000e+00]
 [  1.12200000e+03   0.00000000e+00]
 [  1.12300000e+03   1.00000000e+00]
 [  1.12400000e+03   0.00000000e+00]
 [  1.12500000e+03   0.00000000e+00]
 [  1.12600000e+03   0.00000000e+00]
 [  1.12700000e+03   0.00000000e+00]
 [  1.12800000e+03   0.00000000e+00]
 [  1.12900000e+03   0.00000000e+00]
 [  1.13000000e+03   1.00000000e+00]
 [  1.13100000e+03   1.00000000e+00]
 [  1.13200000e+03   1.00000000e+00]
 [  1.13300000e+03   1.00000000e+00]
 [  1.13400000e+03   0.00000000e+00]
 [  1.13500000e+03   0.00000000e+00]
 [  1.13600000e+03   0.00000000e+00]
 [  1.13700000e+03   0.00000000e+00]
 [  1.13800000e+03   1.00000000e+00]
 [  1.13900000e+03   0.00000000e+00]
 [  1.14000000e+03   1.00000000e+00]
 [  1.14100000e+03   1.00000000e+00]
 [  1.14200000e+03   1.00000000e+00]
 [  1.14300000e+03   0.00000000e+00]
 [  1.14400000e+03   0.00000000e+00]
 [  1.14500000e+03   0.00000000e+00]
 [  1.14600000e+03   0.00000000e+00]
 [  1.14700000e+03   0.00000000e+00]
 [  1.14800000e+03   0.00000000e+00]
 [  1.14900000e+03   0.00000000e+00]
 [  1.15000000e+03   1.00000000e+00]
 [  1.15100000e+03   0.00000000e+00]
 [  1.15200000e+03   0.00000000e+00]
 [  1.15300000e+03   0.00000000e+00]
 [  1.15400000e+03   1.00000000e+00]
 [  1.15500000e+03   1.00000000e+00]
 [  1.15600000e+03   0.00000000e+00]
 [  1.15700000e+03   0.00000000e+00]
 [  1.15800000e+03   0.00000000e+00]
 [  1.15900000e+03   0.00000000e+00]
 [  1.16000000e+03   1.00000000e+00]
 [  1.16100000e+03   0.00000000e+00]
 [  1.16200000e+03   0.00000000e+00]
 [  1.16300000e+03   0.00000000e+00]
 [  1.16400000e+03   1.00000000e+00]
 [  1.16500000e+03   1.00000000e+00]
 [  1.16600000e+03   0.00000000e+00]
 [  1.16700000e+03   1.00000000e+00]
 [  1.16800000e+03   0.00000000e+00]
 [  1.16900000e+03   0.00000000e+00]
 [  1.17000000e+03   0.00000000e+00]
 [  1.17100000e+03   0.00000000e+00]
 [  1.17200000e+03   1.00000000e+00]
 [  1.17300000e+03   0.00000000e+00]
 [  1.17400000e+03   1.00000000e+00]
 [  1.17500000e+03   1.00000000e+00]
 [  1.17600000e+03   1.00000000e+00]
 [  1.17700000e+03   0.00000000e+00]
 [  1.17800000e+03   0.00000000e+00]
 [  1.17900000e+03   0.00000000e+00]
 [  1.18000000e+03   0.00000000e+00]
 [  1.18100000e+03   0.00000000e+00]
 [  1.18200000e+03   0.00000000e+00]
 [  1.18300000e+03   1.00000000e+00]
 [  1.18400000e+03   0.00000000e+00]
 [  1.18500000e+03   0.00000000e+00]
 [  1.18600000e+03   0.00000000e+00]
 [  1.18700000e+03   0.00000000e+00]
 [  1.18800000e+03   1.00000000e+00]
 [  1.18900000e+03   0.00000000e+00]
 [  1.19000000e+03   0.00000000e+00]
 [  1.19100000e+03   0.00000000e+00]
 [  1.19200000e+03   0.00000000e+00]
 [  1.19300000e+03   0.00000000e+00]
 [  1.19400000e+03   0.00000000e+00]
 [  1.19500000e+03   0.00000000e+00]
 [  1.19600000e+03   1.00000000e+00]
 [  1.19700000e+03   1.00000000e+00]
 [  1.19800000e+03   0.00000000e+00]
 [  1.19900000e+03   0.00000000e+00]
 [  1.20000000e+03   0.00000000e+00]
 [  1.20100000e+03   1.00000000e+00]
 [  1.20200000e+03   0.00000000e+00]
 [  1.20300000e+03   0.00000000e+00]
 [  1.20400000e+03   0.00000000e+00]
 [  1.20500000e+03   1.00000000e+00]
 [  1.20600000e+03   1.00000000e+00]
 [  1.20700000e+03   1.00000000e+00]
 [  1.20800000e+03   0.00000000e+00]
 [  1.20900000e+03   0.00000000e+00]
 [  1.21000000e+03   0.00000000e+00]
 [  1.21100000e+03   0.00000000e+00]
 [  1.21200000e+03   0.00000000e+00]
 [  1.21300000e+03   0.00000000e+00]
 [  1.21400000e+03   0.00000000e+00]
 [  1.21500000e+03   0.00000000e+00]
 [  1.21600000e+03   1.00000000e+00]
 [  1.21700000e+03   0.00000000e+00]
 [  1.21800000e+03   1.00000000e+00]
 [  1.21900000e+03   0.00000000e+00]
 [  1.22000000e+03   0.00000000e+00]
 [  1.22100000e+03   0.00000000e+00]
 [  1.22200000e+03   1.00000000e+00]
 [  1.22300000e+03   0.00000000e+00]
 [  1.22400000e+03   0.00000000e+00]
 [  1.22500000e+03   1.00000000e+00]
 [  1.22600000e+03   0.00000000e+00]
 [  1.22700000e+03   0.00000000e+00]
 [  1.22800000e+03   0.00000000e+00]
 [  1.22900000e+03   0.00000000e+00]
 [  1.23000000e+03   0.00000000e+00]
 [  1.23100000e+03   0.00000000e+00]
 [  1.23200000e+03   0.00000000e+00]
 [  1.23300000e+03   0.00000000e+00]
 [  1.23400000e+03   0.00000000e+00]
 [  1.23500000e+03   1.00000000e+00]
 [  1.23600000e+03   0.00000000e+00]
 [  1.23700000e+03   1.00000000e+00]
 [  1.23800000e+03   0.00000000e+00]
 [  1.23900000e+03   1.00000000e+00]
 [  1.24000000e+03   0.00000000e+00]
 [  1.24100000e+03   1.00000000e+00]
 [  1.24200000e+03   1.00000000e+00]
 [  1.24300000e+03   0.00000000e+00]
 [  1.24400000e+03   0.00000000e+00]
 [  1.24500000e+03   0.00000000e+00]
 [  1.24600000e+03   1.00000000e+00]
 [  1.24700000e+03   0.00000000e+00]
 [  1.24800000e+03   1.00000000e+00]
 [  1.24900000e+03   0.00000000e+00]
 [  1.25000000e+03   0.00000000e+00]
 [  1.25100000e+03   1.00000000e+00]
 [  1.25200000e+03   0.00000000e+00]
 [  1.25300000e+03   1.00000000e+00]
 [  1.25400000e+03   1.00000000e+00]
 [  1.25500000e+03   0.00000000e+00]
 [  1.25600000e+03   1.00000000e+00]
 [  1.25700000e+03   1.00000000e+00]
 [  1.25800000e+03   0.00000000e+00]
 [  1.25900000e+03   1.00000000e+00]
 [  1.26000000e+03   1.00000000e+00]
 [  1.26100000e+03   0.00000000e+00]
 [  1.26200000e+03   0.00000000e+00]
 [  1.26300000e+03   1.00000000e+00]
 [  1.26400000e+03   0.00000000e+00]
 [  1.26500000e+03   0.00000000e+00]
 [  1.26600000e+03   1.00000000e+00]
 [  1.26700000e+03   1.00000000e+00]
 [  1.26800000e+03   1.00000000e+00]
 [  1.26900000e+03   0.00000000e+00]
 [  1.27000000e+03   0.00000000e+00]
 [  1.27100000e+03   0.00000000e+00]
 [  1.27200000e+03   0.00000000e+00]
 [  1.27300000e+03   0.00000000e+00]
 [  1.27400000e+03   1.00000000e+00]
 [  1.27500000e+03   1.00000000e+00]
 [  1.27600000e+03   0.00000000e+00]
 [  1.27700000e+03   1.00000000e+00]
 [  1.27800000e+03   0.00000000e+00]
 [  1.27900000e+03   0.00000000e+00]
 [  1.28000000e+03   0.00000000e+00]
 [  1.28100000e+03   0.00000000e+00]
 [  1.28200000e+03   0.00000000e+00]
 [  1.28300000e+03   1.00000000e+00]
 [  1.28400000e+03   0.00000000e+00]
 [  1.28500000e+03   0.00000000e+00]
 [  1.28600000e+03   0.00000000e+00]
 [  1.28700000e+03   1.00000000e+00]
 [  1.28800000e+03   0.00000000e+00]
 [  1.28900000e+03   1.00000000e+00]
 [  1.29000000e+03   0.00000000e+00]
 [  1.29100000e+03   0.00000000e+00]
 [  1.29200000e+03   1.00000000e+00]
 [  1.29300000e+03   0.00000000e+00]
 [  1.29400000e+03   1.00000000e+00]
 [  1.29500000e+03   0.00000000e+00]
 [  1.29600000e+03   0.00000000e+00]
 [  1.29700000e+03   0.00000000e+00]
 [  1.29800000e+03   0.00000000e+00]
 [  1.29900000e+03   0.00000000e+00]
 [  1.30000000e+03   1.00000000e+00]
 [  1.30100000e+03   1.00000000e+00]
 [  1.30200000e+03   1.00000000e+00]
 [  1.30300000e+03   1.00000000e+00]
 [  1.30400000e+03   1.00000000e+00]
 [  1.30500000e+03   0.00000000e+00]
 [  1.30600000e+03   1.00000000e+00]
 [  1.30700000e+03   0.00000000e+00]
 [  1.30800000e+03   0.00000000e+00]
 [  1.30900000e+03   0.00000000e+00]]

In [105]:
final = pd.DataFrame({'PassengerId': ds2['PassengerId'], 'Survived': y_pred})
final.to_csv('output.csv', header=True, columns = ['PassengerId', 'Survived'], sep = ',', index = False)

In [107]:
ds = pd.read_csv('./output.csv')
ds.head(n=418)

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         1
19           911         1
20           912         0
21           913         0
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]